@font-face {
  font-family: "iconfont"; /* Project id 4539948 */
  src: url('iconfont.woff2?t=1715613999059') format('woff2'),
       url('iconfont.woff?t=1715613999059') format('woff'),
       url('iconfont.ttf?t=1715613999059') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-weixinzhifu:before {
  content: "\e609";
}

.icon-point:before {
  content: "\e605";
}

.icon-shoucang1:before {
  content: "\e607";
}

.icon-daifukuan:before {
  content: "\e608";
}

.icon-weizhi:before {
  content: "\e628";
}

.icon-bangzhupeisongfuwu:before {
  content: "\e64f";
}

.icon-yiwancheng:before {
  content: "\e67c";
}

.icon-navicon-chps:before {
  content: "\e64d";
}

.icon-pinglun:before {
  content: "\e663";
}

.icon-shijian:before {
  content: "\e60a";
}

.icon-fuwudiqiu:before {
  content: "\ec0f";
}

.icon-wuliupeisong-:before {
  content: "\ece6";
}

.icon-pinglun1:before {
  content: "\e612";
}

.icon-dizhi1:before {
  content: "\e616";
}

.icon-youhuijuan:before {
  content: "\e65d";
}

.icon-xiangxidizhi1:before {
  content: "\e642";
}

.icon-renzhengyonghu:before {
  content: "\e600";
}

.icon-quanbudingdan:before {
  content: "\e601";
}

.icon-weibiaoti2fuzhi04:before {
  content: "\e621";
}

.icon-dianhua:before {
  content: "\e60f";
}

.icon-dizhi:before {
  content: "\e63e";
}

.icon-shoucang:before {
  content: "\e604";
}

.icon-peisongzhong:before {
  content: "\e603";
}

.icon-dingdan-yiwancheng:before {
  content: "\e610";
}

.icon-daipinglun:before {
  content: "\e606";
}

.icon-youhuiquan:before {
  content: "\e64e";
}

.icon-xiangxidizhi:before {
  content: "\e602";
}

