
$takout-base-color:#1296db;  //主题颜色 
$takout-base-color-2:#14aaf4;
$takeout-coupon-color1:#ffab6e;   //用于优惠券的背景色
$takeout-coupon-color2:#ffa4f8;   //用于优惠券的背景色
$takeout-coupon-color3:#ff97aa;   //用于优惠券的背景色
$takeout-coupon-color4:#92ffa4;   //用于优惠券的背景色
$takeout-coupon-color5:#ff3d17;   //用于秒杀颜色


$takeout-button-cart-color:linear-gradient(90deg, #0550ff,#5d6dff); //购物车按钮颜色

$takeout-font-color-1:#b6b6b6;  //用于浅灰色字体
$takeout-font-color-2:#8c8c8c;  //深一点的灰色字体 
$takeout-border-color-1:#ebebeb;  //灰色边框
$takeout-border-color-2:#cbcbcb; 